body {
  background: #3c454d;
}

.project-name {
  font-size: 25px;
  color: white !important;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  display:inline;
}

.description .title,
.description a {
  color: white !important;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ui.ing {
  background-color: #ee8229;
  border-radius: 25px;
}
