body {
  background: #3c454d;
}

.project-name {
  font-size: 25px;
  color: white !important;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  display: inline;
}

.description .title,
.description a {
  color: white !important;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ui.ing {
  background-color: #ee8229;
  border-radius: 25px;
}

.red-arrow {
  background: url("./img/arrow-down-thick.svg?color=red") no-repeat center
    center contain;
}

.fontRed {
  color :#e43c30;
}

.fontGreen {
  color : #0a851e;
}

.trRed{
  background : rgb(255, 0, 0, 0.2);
}

.trGreen{
  background : rgb(0, 255, 0, 0.2);
}

.trGreenier{
  background : rgb(0, 255, 0, 0.4);
}

.trGreener{
  background : rgb(0, 255, 0, 0.6);
}

.trGreenest{
  background : rgb(0, 255, 0, 0.8);
}

table.centered {
  float: none;
  display: inline;
}

.strike {
  text-decoration: line-through;
}