<!doctype html>

<html lang="en">
<head>
  <title>Euro 2020 - Contest</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/card.css" />
  <link rel="stylesheet" href="css/grid.css" />
  <link rel="stylesheet" href="css/message.css" />
  <link rel="stylesheet" href="css/semantic.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="app">
    <div class="ui grid">
      <div class="ui row centered">
        <div class="">
          <div class="ui white message centered">
            <a href="/">Home</a> / <a href="/">Matches</a>
          </div>
        </div>
      </div>
      <div v-show="onError" class="row">
        <div class="eight wide column centered ">
          <div class="ui red message">{{onError.message}}</div>
        </div>
      </div>
      <div v-show="invalidConfig" class="row">
        <div class="eight wide column centered ">
          <div class="ui attached message">
            <div class="header">
              Invalid Configuration
            </div>
          </div>
        </div>
      </div>
      <div v-show="loading" class="row">
        <div class="ui large active centered inline loader"></div>
      </div>
      <div class="ui row centered">
        <div class="centered">
          <div class="ui text container ing">
            <div class="ing">
              <div class="content">
			          <div class="header">
			          <div class=" project-name">
                  Leaderboard
                </div>
			        </div>
                <div class="description">
                  <table style="width:100%">
                    <tr>
                      <th>Pos</th>
                      <th>Name</th>
                      <th>Score</th>
                      <th>Champion</th>
                      <!--
                      <th></th>
                      <th></th>
                      -->
                    </tr>
                    <tr v-for="player in players">
                      <td>{{player.Rank}}</td>
                      <td><a href="player.html?id={{player.ID}}">{{player.Name}}</a></td>
                      <td>{{player.Score}}</td>
                      <td>{{player.Champ}}</td>
                      <!--
                      <td>{{player.Amount}}</td>
                      <td v-if="player.Status == 'Up'"><img class=".red-arrow" src="img/green-arrow-up.svg"></img></td>
                      <td v-if="player.Status == 'Down'"><img class=".red-arrow" src="img/red-arrow-down.svg"></img></td>
                      <td v-if="player.Status == 'Stay'"><img class=".red-arrow" src="img/blue-arrow-right.svg"></img></td>
                      -->
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <br>
            <div class="ing">
              <div class="content">
			          <div class="header">
			          <div class=" project-name">
                  Statistics
                </div>
			        </div>
                <div class="description">
                  Version : {{stats.ButProno}}<br>
                </div>
              </div>
            </div>
            <br>
            <a href="matches.html">Go to the Matches</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/vue.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/moment-timezone-with-data.min.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/app.js"></script>
</body>
</html>