<!doctype html>

<html lang="en">

<head>
  <title>Euro 2020 - Contest</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/card.css" />
  <link rel="stylesheet" href="css/grid.css" />
  <link rel="stylesheet" href="css/message.css" />
  <link rel="stylesheet" href="css/semantic.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="app">
    <div class="ui grid">
      <div class="ui row centered">
        <div class="">
          <div class="ui white message centered">
              <a href="/">Home</a> / <a href="matches.html">Matches</a>
          </div>
        </div>
      </div>
      <div v-show="onError" class="row">
        <div class="eight wide column centered ">
          <div class="ui red message">{{onError.message}}</div>
        </div>
      </div>
      <div v-show="invalidConfig" class="row">
        <div class="eight wide column centered ">
          <div class="ui attached message">
            <div class="header">
              Invalid Configuration
            </div>
          </div>
        </div>
      </div>
      <div v-show="loading" class="row">
        <div class="ui large active centered inline loader"></div>
      </div>
      <div class="ui row centered">
        <div class="centered">
          <div class="ui text container ing">
            <div class="ing">
              <div class="content">
                <div class="header">
                  <div class=" project-name">
                    Matches
                  </div>
                </div>
                <div class="description">
                  <table style="width:100%">
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Teams</th>
                      <th>Score</th>
                      <th>Winner</th>
                      <th>Stage</th>
                    </tr>
                    <tr v-for="match in matches">
                      <td>{{match.MatchID}}</td>
                      <td>{{match.Date}}</td>
                      <td>{{match.Team1}} - {{match.Team2}}</td>
                      <td>{{match.ScoreT1}} - {{match.ScoreT2}}</td>
                      <td>{{match.Winner}}</td>
                      <td v-if="match.Stage == 0">Day 1</td>
                      <td v-if="match.Stage == 1">Day 2</td>
                      <td v-if="match.Stage == 2">Day 3</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>