<!doctype html>

<html lang="en">

<head>
  <title>Euro 2020 - Contest</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/card.css" />
  <link rel="stylesheet" href="css/grid.css" />
  <link rel="stylesheet" href="css/message.css" />
  <link rel="stylesheet" href="css/semantic.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="app">
    <div class="ui grid">
      <div class="ui row centered">
        <div class="">
          <div class="ui white message centered">
            <a href="/">Home</a> / <a href="matches.html">Matches</a>
          </div>
        </div>
      </div>
      <div v-show="onError" class="row">
        <div class="eight wide column centered ">
          <div class="ui red message">{{onError.message}}</div>
        </div>
      </div>
      <div v-show="invalidConfig" class="row">
        <div class="eight wide column centered ">
          <div class="ui attached message">
            <div class="header">
              Invalid Configuration
            </div>
          </div>
        </div>
      </div>
      <div v-show="loading" class="row">
        <div class="ui large active centered inline loader"></div>
      </div>
      <div class="ui row centered">
        <div class="centered">
          <div class="ui text container ing">
            <div class="ing">
              <div class="content">
                <div class="header">
                  <div class=" project-name">
                    {{players.Name}}
                  </div>
                  <br>Rank : {{players.Rank}} - Points : {{players.Score}}
                </div>
                <div class="description">
                  <table style="width:100%">
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Teams</th>
                      <th>Pronos</th>
                      <th>Winner</th>
                      <th>Score</th> 
                      <th>Official Winner</th>
                      <th>Points</th>
                    </tr>
                    <template v-for="match in players.Matches">
                      <tr v-if="match.Winner == match.OWinner" class="trGreen">
                        <td>{{match.MatchID}}</td>
                        <td>{{match.Date}}</td>
                        <td>{{match.Team1}} - {{match.Team2}}</td>
                        <td>{{match.ScoreP1}} - {{match.ScoreP2}} </td>
                        <td>{{match.Winner}}</td>
                        <td>{{match.ScoreT1}} - {{match.ScoreT2}}</td>
                        <td>{{match.OWinner}}</td>
                        <td v-if="match.Done == true">{{match.ScoreP}}</td>
                        <td v-else>NC</td>
                      </tr>
                      <tr v-else class="trRed">
                        <td>{{match.MatchID}}</td>
                        <td>{{match.Date}}</td>
                        <td>{{match.Team1}} - {{match.Team2}}</td>
                        <td>{{match.ScoreP1}} - {{match.ScoreP2}} </td>
                        <td>{{match.Winner}}</td>
                        <td>{{match.ScoreT1}} - {{match.ScoreT2}}</td>
                        <td>{{match.OWinner}}</td>
                        <td v-if="match.Done == true">{{match.ScoreP}}</td>
                        <td v-else>NC</td>
                      </tr>

                  </template>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/vue.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="https://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/app.js"></script>
</body>

</html>