{{define "footer"}}
            <br>
            <div class="description">
                Version : {{.Version}}<br>
            </div>
            <div>
            Copyright 2022 <a href="https://www.ekielzan.com" target="_blank">ekielzan.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
{{end}}