{{define "footer"}}
                <br>
                <div class="headerBox">
                    <div class="footer"> Version : {{.Version}} <br> Apache License Version 2.0 2022 <a class="inl" href="https://www.ekielzan.com" target="_blank">ekielzan.com</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{{end}}