<!doctype html>

<html lang="en">

<head>
  <title>Euro 2020 - Contest</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/card.css" />
  <link rel="stylesheet" href="/css/grid.css" />
  <link rel="stylesheet" href="/css/message.css" />
  <link rel="stylesheet" href="/css/semantic.min.css" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="app">
    <div class="ui grid">
      <div class="ui row centered">
        <div class="">
          <div class="ui white message centered">
            <a href="/">Home</a> / <a href="/gom">Matches</a> / <a href="/gt">Teams</a>
          </div>
        </div>
      </div>
      <div class="ui row centered">
        <div class="centered">
          <div class="ui text container ing">
            <div class="ing">
              <div class="content">
                <div class="header">
                  <div class=" project-name">
                    {{.player.Name}}
                  </div>
                  <br>Rank : {{.player.Rank}} - Points : {{.player.Score}} - Champion : {{.player.Champ}} <br> Bonus/Malus :
                  {{if (gt .player.ChangeChamp 0) }}  
                  - {{.player.BonusMalus}}
                  {{else}}
                  +5
                  {{end}}
                </div>
                <div class="description">
                  <table style="width:100%">
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Teams</th>
                      <th>Pronos</th>
                      <th>Winner</th>
                      <th>Score</th>
                      <th>Official Winner</th>
                      <th>Points</th>
                    </tr>
                    {{range .player.Matches}}
                    {{if (eq .Winner .OWinner) }}
                    <tr class="trGreen">
                      {{else}}
                    <tr class="trRed">
                    {{end}}
                    <td>{{.MatchID}}</td>
                    <td>{{.Date}}</td>
                    <td>{{.Team1}} - {{.Team2}}</td>
                    <td>{{.ScoreP1}} - {{.ScoreP2}} </td>
                    <td>{{.Winner}}</td>
                    <td>{{.ScoreT1}} - {{.ScoreT2}}</td>
                    <td>{{.OWinner}}</td>
                    {{if .Done}}
                    <td>{{.ScoreP}}</td>
                    {{else}}
                    <td>NC</td>
                    {{end}}
                    </tr>
                    {{end}}
                    </template>
                  </table>
                </div>
              </div>
            </div>
            <br>
            <div class="ing">
              <div class="content">
                <div class="header">
                  <div class=" project-name">
                    Statistics
                  </div>
                </div>
                <div class="description">
                  Number of scored goals : {{.stat.ButReal}}<br>
                </div>
              </div>
            </div>
            <div class="description">
              Version : {{.stat.Version}}<br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>