<!doctype html>
<html lang="en">

<head>
  <title>Euro 2020 - Contest</title>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/card.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/grid.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/message.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="app">
    <div class="ui grid">
      <div class="ui row centered">
        <div class="">
          <div class="ui white message centered">
            <a href="/">Home</a> / <a href="/gom">Matches</a> / <a href="/gt">Teams</a>
          </div>
        </div>
      </div>
      <div class="ui row centered">
        <div class="centered">
          <div class="ui text container ing" >
            <div class="ing">
              <div class="content">
                <div class="header">
                  <div class=" project-name">
                    Team List
                  </div>
                </div>
                <div class="description">
                  <table style="width:100%">
                    <tr>
                      <th> Id </th>
                      <th> Name  </th>
                      <th> Group </th>
                      <th> Point </th>
                      <th> Win </th>
                      <th> Draw </th>
                      <th> lose </th>
                      <th> GF </th>
                      <th> GA </th>
                    </tr>
                    {{range .teams}}
                      {{if ne .Active '1'}}
                        <tr class="trGreen">
                      {{else}}
                        <tr class="trRed">
                      {{end}}
                        <td>{{.ID}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Groupid}}</td>
                        <td>{{.Point}}</td>
                        <td>{{.Win}}</td>
                        <td>{{.Drawn}}</td>
                        <td>{{.Lose}}</td>
                        <td>{{.Goalfor}}</td>
                        <td>{{.Goalagainst}}</td>
                      </tr>
                    {{end}}
                  </table>
                </div>
              </div>
            </div>
            <br>
            <div class="description">
              Version : {{.stat.Version}}<br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>