<!doctype html>
<html lang="en">

<head>
  <title>Euro 2020 - Contest</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/card.css" />
  <link rel="stylesheet" href="css/grid.css" />
  <link rel="stylesheet" href="css/message.css" />
  <link rel="stylesheet" href="css/semantic.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="app">
    <div class="ui grid">
      <div class="ui row centered">
        <div class="">
          <div class="ui white message centered">
            <a href="/">Home</a> / <a href="/gom">Matches</a> / <a href="/gt">Teams</a>
          </div>
        </div>
      </div>
      <div class="ui row centered">
        <div class="centered">
          <div class="ui text container ing" >
            <div class="ing">
              <div class="content">
                <div class="header">
                  <div class=" project-name">
                    Team List
                  </div>
                </div>
                <div class="description">
                  <table class="centered">
                    <tr>
                      <th>Name</th>
                      <th>Group</th>
                    </tr>
                    {{range .teams}}
                    {{if .Active}}
                    <tr class="trGreen">
                    {{else}}
                    <tr class="trRed">
                    {{end}}
                      <td>{{.TeamName}}</td>
                      <td>{{.Group}}</td>
                    </tr>
                    {{end}}
                  </table>
                </div>
              </div>
            </div>
            <br>
            <div class="ing">
              <div class="content">
                <div class="header">
                  <div class=" project-name">
                    Statistics
                  </div>
                </div>
                <div class="description">
                  Coming Soon<br>
                </div>
              </div>
            </div>
            <div class="description">
              Version : {{.stat.Version}}<br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>